.places__link {
    margin: 0;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    color: white;
    transition: opacity 0.3s linear;
}

.places__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .places__link {
        margin-top: 12px;
    }
}
